body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('/images/comingsoon.jpeg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

/* CSS code for the logo */
.logo {
  font-family: Bradley Hand;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.logo::before {
  content: 'AJ';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f00;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
}

